@import '../../scss/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.home {
    width: 100%;
    height: 80vh;
    display: flex;
    position: relative;
    align-items: center;

    .home-left {
        flex: 0 0 60%;
        display: flex;
        align-items: center;

        .home-left-content {
            width: 100%;
            padding: 0px 80px;

            h4 {
                font-size: 25px;
                color: #606060;
                margin-bottom: 35px;
            }

            h1 {
                font-size: 45px;
                font-family: 'Lexend', sans-serif;
                margin-bottom: 40px;

                span {
                    color: $action;
                }
                
                .fullstack {
                    font-size: calc( 1em + 3vmin );
                    font-weight: 900;
                    color: rgb(0, 0, 0);
                    
                    --x-offset: -0.0625em;
                    --y-offset: 0.0625em;
                    --stroke: 0.025em;
                    --background-color: white;
                    --stroke-color: lightblue;
                    
                    text-shadow: 
                    
                    var(--x-offset)
                    var(--y-offset)
                    0px
                    var(--background-color), 
                    
                    calc( var(--x-offset) - var(--stroke) )
                    calc( var(--y-offset) + var(--stroke) )
                    0px
                    var(--stroke-color);
                }
            }

            h2 {
                color: #404040;
                font-size: 28px;
            }
        }
    }

    .home-right {
        flex: 0 0 50%;

        img {
            object-fit: cover;
        }
    }

    .juubi {
        position: absolute;
        left: 10px;
        bottom: -20px;
        padding: 10px 20px;
        box-shadow: $box-shadow;

        h1 {
            font-size: 16px;
            margin: 0;
            padding: 0;
            font-family: 'Lobster', cursive;
        }
    }
}
  
@media ( max-width: 1013px ) {
    .home {
        height: auto;
        display: block;
        padding-bottom: 80px;
        
        .home-left {
            width: 80%;
            margin: 0 auto;
            margin-top: 40px;

            .home-left-content {
                padding: 0;
            }
        }

        .home-right {
            width: 100%;
            display: block;

            img {
                width: 100%;
            }
        }

        .juubi {
            position: relative;
            box-shadow: none;

            h1 {
                text-align: center;
            }
        }
    }
}