<div class="home">
    <div class="home-left">
        <div class="home-left-content">
            <h4>Welcome to screen layouts!</h4>
            <h1>
                Hey folks, I<span>'</span>m<br>
                <span class="fullstack">
                    fullstack developer
                </span>
            </h1>
            <h2>Building a successful product is a challenge. I am highly energetic in user experience design, interfaces, web development and server side development.</h2>
        </div>
    </div>
    <div class="home-right">
        <img src="assets/home.png">
    </div>

    <div class="juubi">
        <h1>Erick Jonathan Cinco Ayon</h1>
    </div>
</div>
