<div class="sidebar">
    <div class="sidebar-first-div"></div>
    <h3 routerLink="/">Page Designs</h3>
    <ul class="sidebar-list">
        <h5>
            <span><i class="code icon"></i></span>
            Paginas
        </h5>

        <li routerLink="/zero-one">
            01 - Zero One
            <span>
                <i class="caret right icon"></i>
            </span>
        </li>

        <li routerLink="/zero-two">
            02 - Zero Two
            <span>
                <i class="caret right icon"></i>
            </span>
        </li>
    </ul>
</div>
